@charset "UTF-8";

.font_red {
    color: #E30303;
}

.purchase_button {
    border: #000000 solid 3px;
}

.purchase_button::after {
    content: "";
    content: "";
    position: absolute;
    border: solid 1px #000000;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
}